BOT_TOKEN=123456:replace_me
OWNER_ID=123456789
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/?retryWrites=true&w=majority
DB_NAME=telegram_intelligence_bot
LOG_CHANNEL_ID=
SUPPORT_URL=https://t.me/your_support
HEROKU_APP_NAME=
GROUP_COOLDOWN_SECONDS=20
DEFAULT_TIMEZONE=UTC
PREMIUM_PLANS_JSON=[{"code":"p30","title":"30 days","days":30,"stars":199},{"code":"p90","title":"90 days","days":90,"stars":499},{"code":"p365","title":"1 year","days":365,"stars":1499}]
REFERRAL_REWARD_DAYS=3

